@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}


  .callout-container {
    height: 100vh;
   
    background: url(../images/ThinkstockPhotos-672106460.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* Navebar */

  .navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;

  }

  .navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);

  }

  .navbar .navbar-toggler {
    border: 0;
  }

  .navbar-brand {
    color: #ffffff;
    font-weight: bold;
  }

  /* Jumbotron */
  .jumbotron {
    background-color: transparent;

  }

  .jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #4d4d4d;
  }

  .jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
  }

  .block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #f05f40;
  }

  .block-divider--orange {
    background-color: #f05f40;
  }
  
  .block-divider--short {
    width: 35px;
  }

  .btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
  }

  .btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #fbaf9e;
  }

  .btn--red:hover,
  .btn--red:active,
  .btn--red:focus,
  .btn--red:active:focus {
    background-color: #df4929;
    border-color: #ffffff;
  }
